In [1]:
import pandas
pandas._version

In [2]:
import numpy

In [3]:
string_data = pandas.Series(['aardvark','artichoke',numpy.nan,'avocado'])

In [4]:
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [5]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [6]:
string_data[0] = None

In [7]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

In [8]:
from numpy import nan as NA

In [9]:
data = pandas.Series([1, NA, 3.5, NA, 7])

In [10]:
data.dropna

<bound method Series.dropna of 0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64>