In [1]:
import numpy as np
arr=np.random.randn(10)
arr

array([ 0.17089532,  0.81799477, -1.3607922 ,  0.01558416, -0.25143227,
       -1.18836264,  0.43416278,  1.44949911,  0.08120461,  0.42373938])

In [2]:
arr.sort()
arr

array([-1.3607922 , -1.18836264, -0.25143227,  0.01558416,  0.08120461,
        0.17089532,  0.42373938,  0.43416278,  0.81799477,  1.44949911])

In [ ]:
#sort: 오름차순으로 정렬

In [3]:
import pandas as pd
data={'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
      'year':[2000,2001,2002,2001,2002,2003],
      'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}
frame=pd.DataFrame(data)

In [4]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [ ]:
#DataFrame
표 같은 스프레드시트 형식의 자료 구조로,여러 개의 컬럼이 있는데 각 컬럼은 서로 다른 종류의 값을 담을 수 있다.